@color1:red;
@color3:yellow;
@color2:orange;
html,body{
width:99% + 1%;
height:99% + 1%;
}
.flex{
display:flex;
justify-content:center;
align-items:center;
}
.border{
border:2px solid black;
}
body{
  color:white;
.flex();
.wrap{
.flex();
gap:7px;
width:80vmin;

& div:nth-child(1){
background-color:@color1;
}
& div:nth-child(2){
background-color:@color2;
}
& div:nth-child(3){
background-color:@color3;
}
@media (max-width:1000px){
.flex();
flex-wrap:wrap;
 & div:nth-child(3){
width:100%;
} 
}
@media (max-width:600px){
.flex();
  flex-wrap:wrap;
  & > div{
    width:100%;
  }
}
.wrap1{
.border();
.flex();
width:33%;
height:15vmin;
}
}
}
